---
version: 1
rwmutex: {}
interactions:
- request:
    body: ""
    form: {}
    headers: {}
    url: http://akas.imdb.com/title/tt0403358/releaseinfo
    method: GET
  response:
    body: "\n\n\n\n\n\n\n\n\n\n\n\n\n<!DOCTYPE html>\n<html\nxmlns:og=\"http://ogp.me/ns#\"\nxmlns:fb=\"http://www.facebook.com/2008/fbml\">\n
      \   <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\"
      content=\"IE=edge\">\n\n    <meta name=\"apple-itunes-app\" content=\"app-id=342792525,
      app-argument=imdb:///title/tt0403358?src=mdot\">\n        \n    \n            <script
      type=\"text/javascript\">var ue_t0=window.ue_t0||+new Date();</script>\n            <script
      type=\"text/javascript\">\n                var ue_mid = \"A1EVAM02EL8SFB\";
      \n                var ue_sn = \"www.imdb.com\";  \n            [...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://akas.imdb.com/title/tt0403358/combined
    method: GET
  response:
    body: "\n<!DOCTYPE html>\n<html xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
      \     xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<meta http-equiv=\"content-type\"
      content=\"text/html; charset=iso-8859-1\">\n<script type=\"text/javascript\">var
      IMDbTimer={starttime: new Date().getTime()};</script>\n<script>(function(t){
      (t.events = t.events || {})[\"csm_head_pre_title\"] = new Date().getTime();
      })(IMDbTimer);</script>\n<script>\nvar addClickstreamHeadersToAjax = function(xhr)
      {\n    xhr.setRequestHeader(\"x-imdb-parent-id\", \"113SX8C3P75KBY4AZ38H\");\n};\n</script>\n\n<title>Nochnoy
      dozor (2004)</title>\n<script>(function(t){ (t.events = t.events || {})[\"csm_head_post_title\"]
      = new Date().getTime(); })(IMDbTimer);</script>\n<link rel=\"canonical\" href=\"http://www.imdb.com/title/tt0403358/combined\"
      /><meta property=\"og:url\" content=\"http://www.imdb.com/title/tt0403358/combined\"
      />\n\n<meta name=\"title\" content=\"Nochnoy dozor (2004)\">\n<meta name=\"description\"
      content=\"Directed by Timur Bekmambetov.  With Konstantin Khabenskiy, Vladimir
      Menshov, Valeriy Zolotukhin. A fantasy-thriller set in present-day Moscow where
      the respective forces that control daytime and nighttime do battl[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://akas.imdb.com/title/tt0403358/plotsummary
    method: GET
  response:
    body: "\n\n\n\n\n\n\n\n\n\n\n\n<!DOCTYPE html>\n<html\nxmlns:og=\"http://ogp.me/ns#\"\nxmlns:fb=\"http://www.facebook.com/2008/fbml\">\n
      \   <head>\n        <meta charset=\"utf-8\">\n        <meta http-equiv=\"X-UA-Compatible\"
      content=\"IE=edge\">\n\n    <meta name=\"apple-itunes-app\" content=\"app-id=342792525,
      app-argument=imdb:///ti[...]
- request:
    body: ""
    form: {}
    headers: {}
    url: http://akas.imdb.com/title/tt0403358/synopsis
    method: GET
  response:
    body: "\n<!DOCTYPE html>\n<html xmlns:og=\"http://opengraphprotocol.org/schema/\"\n
      \     xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n<meta http-equiv=\"content-type\"
      content=\"text/html; charset=iso-8859-1\">\n<script type=\"text/javascript\">var
      IMDbTimer={starttime: new Date().getTime()};</script>\n<script>(function(t){
   [...]
[...]
