---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>ServerInfo</methodName><params/></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <methodResponse>
        <params>
         <param>
          <value>
           <struct>
            <member>
             <name>xmlrpc_version</name>
             <value>
              <string>0.1</string>
             </value>
            </member>
            <member>
             <name>xmlrpc_url</name>
             <value>
              <string>http://api.opensubtitles.org/xml-rpc</string>
             </value>
            </member>
            <member>
             <name>application</name>
             <value>
              <string>OpenSuber v0.2</string>
             </value>
            </member>
            <member>
             <name>contact</name>
             <value>
              <string>admin@opensubtitles.org</string>
             </value>
            </member>
            <member>
             <name>website_url</name>
             <value>
              <string>http://www.opensubtitles.org</string>
             </value>
            </member>
            <member>
             <name>users_online_total</name>
             <value>
              <int>16589</int>
             </value>
            </member>
            <member>
             <name>users_online_program</name>
             <value>
              <int>12936</int>
             </value>
            </member>
            <member>
             <name>users_loggedin</name>
             <value>
              <int>327</int>
             </value>
            </member>
            <member>
             <name>users_max_alltime</name>
             <value>
              <string>27449</string>
 [...]
