---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>SearchSubtitles</methodName><params><param><value><string>g568hjrb82tajod99drl84p4v2</string></value></param><param><value><array><data><value><struct><member><name>moviehash</name><value><string>09a2c497663259cb</string></value></member></struct></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<methodResponse>\n<params>\n
        <param>\n  <value>\n   <struct>\n    <member>\n     <name>status</name>\n
        \    <value>\n      <string>200 OK</string>\n     </value>\n    </member>\n
        \   <member>\n     <name>data</name>\n     <value>\n      <array>\n       <data>\n
        \       <value>\n         <struct>\n          <member>\n           <name>MatchedBy</name>\n
        \          <value>\n            <string>moviehash</string>\n           </value>\n
        \         </member>\n          <[...]
