---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>SearchSubtitles</methodName><params><param><value><string>g568hjrb82tajod99drl84p4v2</string></value></param><param><value><array><data><value><struct><member><name>moviehash</name><value><string>09a2c497663259cb</string></value></member><member><name>sublanguageid</name><value><string>eng,rus</string></value></member></struct></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <methodResponse>
        <params>
         <param>
          <value>
           <struct>
            <member>
             <name>status</name>
             <value>
              <string>200 OK</string>
             </value>
            </member>
            <member>
             <name>data</name>
             <value>
              <array>
               <data>
                <value>
                 <struct>
                  <member>
                   <name>MatchedBy</name>
                   <value>
       [...]
