---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>CheckMovieHash</methodName><params><param><value><string>523u42h3tp935knb6pfqf4fbp1</string></value></param><param><value><array><data><value><string>09a2c497663259cb</string></value><value><string>46e33be00464c12e</string></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <methodResponse>
        <params>
         <param>
          <value>
           <struct>
            <member>
             <name>status</name>
             <value>
              <string>200 OK</string>
             </value>
            </member>
            <member>
             <name>data</name>
             <value>
              <struct>
               <member>
                <name>09a2c497663259cb</name>
                <value>
                 <struct>
                  <member>
                   <name>MovieHash</name>
                   <value>
                    <string>09a2c497663259cb</string>
                 [...]
