---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>CheckMovieHash</methodName><params><param><value><string>geagd6ie3pdkpkhgv7a7v6vjr1</string></value></param><param><value><array><data><value><string>450f3f0c98a1f11d</string></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <methodResponse>
        <params>
         <param>
          <value>
           <struct>
            <member>
             <name>status</name>
             <value>
              <string>200 OK</string>
             </value>
            </member>
            <member>
             <name>data</name>
             <value>
              <struct>
               <member>
                <name>450f3f0c98a1f11d</name>
                <value>
                 <array>
                  <data/>
                 </array>
                </value>
               </member>
              </struct>
             </value>
            </member>
            <member>
             <name>not_processed</name>
             <value>
              <array>
               <data/>
              </array>
             </value>
            </member>
            <member>
             <name>seconds</name>
             <value>
              <double>0.012</double>
             </value>
            </member>
           </struct>
          </value>
         </param>
        </params>
        </methodResponse>
  recorded_at: Wed, 07 Jan 2015 23:49:01 GMT
recorded_with: VCR 2.9.3
