---
http_interactions:
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>LogIn</methodName><params><param><value><string></string></value></param><param><value><string></string></value></param><param><value><string>en</string></value></param><param><value><string>OSTestUserAgent</string></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <methodResponse>
        <params>
         <param>
          <value>
           <struct>
            <member>
             <name>token</name>
             <value>
              <string>ekiaogl4e4c7f7hsj624k8jth4</string>
             </value>
            </member>
            <member>
             <name>status</name>
             <value>
              <string>200 OK</string>
             </value>
            </member>
            <member>
             <name>seconds</name>
             <value>
              <double>0.02</double>
             </value>
            </member>
           </struct>
          </value>
         </param>
        </params>
        </methodResponse>
  recorded_at: Fri, 13 Feb 2015 17:52:31 GMT
- request:
    method: post
    uri: http://api.opensubtitles.org/xml-rpc
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?><methodCall><methodName>SearchSubtitles</methodName><params><param><value><string>ekiaogl4e4c7f7hsj624k8jth4</string></value></param><param><value><array><data><value><struct><member><name>sublanguageid</name><value><string>eng</string></value></member><member><name>moviehash</name><value><string>09a2c497663259cb</string></value></member></struct></value></data></array></value></param></params></methodCall>
    headers:
      Content-Type:
      - text/xml; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        <[...]
[...]
